{mask:main}
	<div class="landing-page" id="status-page">	
		
		<div class="header-title">РусГидро сегодня</div>
		<div class="status-select">
			<div class="status-select-title">Показать объекты: <span>все</span></div>
			<div class="status-select-drop"><div class="status-select-drop-in" id="status-select">
				<div class="status-select-drop-item active"><span>Все</span></div>
				<div class="status-select-drop-item" data-type="1"><span>Гидроэлектростанции</span></div>
				<div class="status-select-drop-item" data-type="5"><span>Тепловые электростанции</span></div>
				<div class="status-select-drop-item" data-type="2"><span>Геотермальные электростанции</span></div>
				<div class="status-select-drop-item" data-type="10"><span>Солнечные электростанции</span></div>
				<div class="status-select-drop-item" data-type="7"><span>Приливная электростанция</span></div>
				<div class="status-select-drop-item" data-type="4"><span>Сбытовые компании</span></div>
				<div class="status-select-drop-item" data-type="11"><span>Электросетевая компания</span></div>
				<div class="status-select-drop-item" data-type="8"><span>Ветряные электростанции</span></div>
				<div class="status-select-drop-item" data-type="9"><span>Научно-исследовательские и проектные организации</span></div>
			</div></div>
		</div>		
		
		
		
		<div class="stations-block">
			
			<div class="stations-map">
				<img alt="" src="styles/img/map.jpg" />
				<div class="stations-map-points" id="stations-map">
					
					<div class="stations-map-points-item type1" style="left: 51%; top: 71%">
						<div class="stations-map-points-dot">1</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Богучанская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 83%; top: 79%">
						<div class="stations-map-points-dot">2</div><div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Бурейская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 22%; top: 43%">
						<div class="stations-map-points-dot">3</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Каскад Верхневолжских ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 64%; top: 57%">
						<div class="stations-map-points-dot">4</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Каскад Вилюйских ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>						
					<div class="stations-map-points-item type1" style="left: 14%; top: 64%">
						<div class="stations-map-points-dot">5</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Волжская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 26%; top: 60%">
						<div class="stations-map-points-dot">6</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Воткинская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 9%; top: 81%">
						<div class="stations-map-points-dot">7</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Гоцатлинская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 10%; top: 80%">
						<div class="stations-map-points-dot">8</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ГЭС Дагестанского филиала</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 20.5%; top: 63%">
						<div class="stations-map-points-dot">9</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Жигулевская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 15.5%; top: 39.9%">
						<div class="stations-map-points-dot">10</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Загорская ГАЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 6.5%; top: 69%">
						<div class="stations-map-points-dot">11</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Зарагижская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 77.5%; top: 77.5%">
						<div class="stations-map-points-dot">12</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Зейская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 7.5%; top: 66%">
						<div class="stations-map-points-dot">13</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Зеленчукская ГЭС-ГАЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 7.7%; top: 74%">
						<div class="stations-map-points-dot">14</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ГЭС Кабардино-Балкарского филиала</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 30%; top: 55%">
						<div class="stations-map-points-dot">15</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Камская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 86%; top: 44%">
						<div class="stations-map-points-dot">16</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Колымская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 10.5%; top: 67%">
						<div class="stations-map-points-dot">17</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Каскад Кубанских ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 23%; top: 49%">
						<div class="stations-map-points-dot">18</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Нижегородская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 43%; top: 80%">
						<div class="stations-map-points-dot">19</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Новосибирская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 17%; top: 64%">
						<div class="stations-map-points-dot">20</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Саратовская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 50%; top: 92%">
						<div class="stations-map-points-dot">21</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Саяно-Шушенский ГЭК</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 3%; top: 80%">
						<div class="stations-map-points-dot">22</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Севан-Разданский каскад ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 9.7%; top: 74%">
						<div class="stations-map-points-dot">23</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ГЭС Северо-Осетинского филиала</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 93.5%; top: 49%">
						<div class="stations-map-points-dot">24</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Толмачевские ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type1" style="left: 24%; top: 52%">
						<div class="stations-map-points-dot">25</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Чебоксарская ГЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					
					<div class="stations-map-points-item type2" style="left: 95%; top: 45.5%">
						<div class="stations-map-points-dot">26</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Верхне-Мутновская ГеоЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type2" style="left: 95%; top: 50%">
						<div class="stations-map-points-dot">27</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Мутновская ГеоЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type2" style="left: 97%; top: 55%">
						<div class="stations-map-points-dot">28</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Паужетская ГеоЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					
					<!--
					<div class="stations-map-points-item type3" style="left: 104px; top: 378px">
						<div class="stations-map-points-dot">29</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(zaramag.jpg)"></div><div class="stations-map-title">Зарамагские ГЭС</div></div>
					</div>
					<div class="stations-map-points-item type3" style="left: 148px; top: 219px">
						<div class="stations-map-points-dot">30</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(zagorsk2.jpg)"></div><div class="stations-map-title">Загорская ГАЭС-2</div></div>
					</div>
					<div class="stations-map-points-item type3" style="left: 736px; top: 429px">
						<div class="stations-map-points-dot">31</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(nijne_burejsk.jpg)"></div><div class="stations-map-title">Нижне-Бурейская ГЭС</div></div>
					</div>
					<div class="stations-map-points-item type3" style="left: 803px; top: 239px">
						<div class="stations-map-points-dot">32</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(ust_srednekansk.jpg)"></div><div class="stations-map-title">Усть-Среднеканская ГЭС имени А.Ф. Дьякова</div></div>
					</div>
					-->
					
					<div class="stations-map-points-item type4" style="left: 85.5%; top: 96%">
						<div class="stations-map-points-dot">33</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Дальневосточная энергетическая компания</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type4" style="left: 52%; top: 82%">
						<div class="stations-map-points-dot">34</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Красноярскэнергосбыт</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type4" style="left: 19%; top: 52%">
						<div class="stations-map-points-dot">35</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Рязанская энергосбытовая компания</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type4" style="left: 25%; top: 58%">
						<div class="stations-map-points-dot">36</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Чувашская энергосбытовая компания</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					
					<div class="stations-map-points-item type11" style="left: 78%; top: 72%">
						<div class="stations-map-points-dot">37</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ДРСК</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>					
					
					<div class="stations-map-points-item type5" style="left: 85%; top: 71%">
						<div class="stations-map-points-dot">38</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Амурская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>						
					</div>
					<div class="stations-map-points-item type5" style="left: 92.5%; top: 17.4%">
						<div class="stations-map-points-dot">39</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Анадырская ГМТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>						
					</div>
					<div class="stations-map-points-item type5" style="left: 91%; top: 13.8%">
						<div class="stations-map-points-dot">40</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Анадырская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 85.5%; top: 92%">
						<div class="stations-map-points-dot">41</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Артемовская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 79.5%; top: 83.5%">
						<div class="stations-map-points-dot">42</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Благовещенская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 86.5%; top: 98.5%">
						<div class="stations-map-points-dot">43</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Владивостокские ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 88%; top: 96%">
						<div class="stations-map-points-dot">44</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ТЭЦ Восточная</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 96.5%; top: 47.5%">
						<div class="stations-map-points-dot">45</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Камчатские ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 87%; top: 69%">
						<div class="stations-map-points-dot">46</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Комсомольские ТЭЦ-1, ТЭЦ-2</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 87%; top: 72%">
						<div class="stations-map-points-dot">47</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Комсомольская ТЭЦ-3</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 39%; top: 54%">
						<div class="stations-map-points-dot">48</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Казым <em>(передвижная ЭС)</em></div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 40.4%; top: 45.5%">
						<div class="stations-map-points-dot">49</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Лабытнанги <em>(передвижная ЭС)</em></div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 87%; top: 47.5%">
						<div class="stations-map-points-dot">50</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Магаданская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 73%; top: 75%">
						<div class="stations-map-points-dot">51</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Нерюнгринская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 86%; top: 65.5%">
						<div class="stations-map-points-dot">52</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Николаевская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 89%; top: 92%">
						<div class="stations-map-points-dot">53</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Партизанская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 86%; top: 88%">
						<div class="stations-map-points-dot">54</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Приморская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 80%; top: 86%">
						<div class="stations-map-points-dot">55</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Райчихинская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 91%; top: 73.5%">
						<div class="stations-map-points-dot">56</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Сахалинская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 44%; top: 47%">
						<div class="stations-map-points-dot">57</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Уренгой <em>(передвижная ЭС)</em></div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 86%; top: 84%">
						<div class="stations-map-points-dot">58</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Хабаровские ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 73.4%; top: 70%">
						<div class="stations-map-points-dot">59</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Чульманская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 90%; top: 9%">
						<div class="stations-map-points-dot">60</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Эгвекинотская ГРЭС-1</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 92%; top: 80.5%">
						<div class="stations-map-points-dot">61</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Южно-Сахалинская ТЭЦ-1</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 69.5%; top: 54%">
						<div class="stations-map-points-dot">62</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Якутская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 77.4%; top: 42%">
						<div class="stations-map-points-dot">63</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Аркагалинская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 89%; top: 79%">
						<div class="stations-map-points-dot">64</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Майская ГРЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 84%; top: 14%">
						<div class="stations-map-points-dot">65</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Чаунская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 72%; top: 54%">
						<div class="stations-map-points-dot">66</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Якутская ТЭЦ</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type5" style="left: 74.5%; top: 54%">
						<div class="stations-map-points-dot">67</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Якутская ГРЭС-2</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					
					<!--
					<div class="stations-map-points-item type6" style="left: 794px; top: 422px">
						<div class="stations-map-points-dot">68</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(sovetsk_gavan.jpg)"></div><div class="stations-map-title">ТЭЦ Советская Гавань</div></div>
					</div>
					<div class="stations-map-points-item type6" style="left: 823px; top: 433px">
						<div class="stations-map-points-dot">69</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(sahalinsk2.jpg)"></div><div class="stations-map-title">Сахалинская ГРЭС-2</div></div>
					</div>
					-->
					<div class="stations-map-points-item type7" style="left: 28%; top: 20%">
						<div class="stations-map-points-dot">70</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Кислогубская ПЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>					
					
					<div class="stations-map-points-item type8" style="left: 93.5%; top: 41%">
						<div class="stations-map-points-dot">71</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ВЭС в п. Усть-Камчатск</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type8" style="left: 96%; top: 41%">
						<div class="stations-map-points-dot">72</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ВДК в п. Никольское</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type8" style="left: 93%; top: 76%">
						<div class="stations-map-points-dot">73</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ВДК в с. Новиково</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					
					
					<div class="stations-map-points-item type10" style="left: 72%; top: 47%">
						<div class="stations-map-points-dot">74</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Батагайская СЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>					
					
					<div class="stations-map-points-item type9" style="left: 16%; top: 50%">
						<div class="stations-map-points-dot">75</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">«Мособлгидропроект»</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type9" style="left: 17%; top: 34%">
						<div class="stations-map-points-dot">76</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">ВНИИГ им. Б.Е. Веденеева</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type9" style="left: 18%; top: 48%">
						<div class="stations-map-points-dot">77</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Институт «Гидропроект» им. С.Я. Жука</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type9" style="left: 17%; top: 30%">
						<div class="stations-map-points-dot">78</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">Институт «Ленгидропроект»</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>
					<div class="stations-map-points-item type9" style="left: 16%; top: 46%">
						<div class="stations-map-points-dot">79</div>
						<div class="stations-map-info"><div class="stations-map-info-in"><div class="stations-map-image" style="background-image:url(tmp/statimg.jpg)"></div><div class="stations-map-title">НИИЭС</div>
						<div class="stations-map-descr">область, регион местанахождения<a href="pointpopup.html">Подробнее</a></div>
						</div></div>
					</div>					

					
					
				</div>
			</div>
			
			<div class="stations-list">
				<div class="stations-list-title">Крупнейшие объекты генерации, МВт</div>
				<div class="stations-list-in">
					<div class="owl-carousel" id="stations-list">
						<div class="stations-list-item"><span>2997</span> Богучанская ГЭС</div> 
						<div class="stations-list-item"><span>2010</span> Бурейская ГЭС</div>
						<div class="stations-list-item"><span>476,6</span> Каскад Верхневолжских ГЭС</div>
						<div class="stations-list-item"><span>680</span> Каскад Вилюйских ГЭС</div>
						<div class="stations-list-item gres"><span>1467</span> Приморская ГРЭС</div>
						<div class="stations-list-item"><span>2671</span> Волжская ГЭС</div>
						<div class="stations-list-item"><span>1020</span> Воткинская ГЭС</div>
						<div class="stations-list-item"><span>100</span> Гоцатлинская ГЭС</div>
						<div class="stations-list-item"><span>1785,5</span> ГЭС Дагестанского филиала</div>
						<div class="stations-list-item"><span>2467</span> Жигулевская ГЭС</div>
						<div class="stations-list-item"><span>1200</span> Загорская ГАЭС</div>
						<div class="stations-list-item"><span>30,6</span> Зарагижская ГЭС</div>
						<div class="stations-list-item"><span>1330</span> Зейская ГЭС</div>
						<div class="stations-list-item"><span>300</span> Зеленчукская ГЭС-ГАЭС</div>
						<div class="stations-list-item"><span>157,5</span> ГЭС Кабардино-Балкарского филиала</div>
						<div class="stations-list-item"><span>552</span> Камская ГЭС</div>
						<div class="stations-list-item"><span>900</span> Колымская ГЭС</div>
						<div class="stations-list-item"><span>476,5</span> Каскад Кубанских ГЭС</div>
						<div class="stations-list-item"><span>520</span> Нижегородская ГЭС</div>
						<div class="stations-list-item"><span>480</span> Новосибирская ГЭС</div>
						<div class="stations-list-item"><span>1403</span> Саратовская ГЭС</div>
						<div class="stations-list-item"><span>6721</span> Саяно-Шушенский ГЭК</div>
						<div class="stations-list-item"><span>561,41</span> Севан-Разданский каскад ГЭС</div>
						<div class="stations-list-item"><span>94,52</span> ГЭС Северо-Осетинского филиала</div>
						<div class="stations-list-item"><span>45,2</span> Толмачевские ГЭС</div>
						<div class="stations-list-item"><span>1370</span> Чебоксарская ГЭС</div>		
						<div class="stations-list-item"><span>12</span> Верхне-Мутновская ГеоЭС</div>
						<div class="stations-list-item"><span>50</span> Мутновская ГеоЭС</div>
						<div class="stations-list-item"><span>15,57</span> Паужетская ГеоЭС</div>						
					</div>	
				</div>
			</div>
			
		</div>	
		
	</div>
{/mask}