{reduce:space}
{mask:main}*******************************************************************************************************;;;;;
ЛИСТ ПРОГРУЗКИ МЕДИЦИНСКИХ УСЛУГ;;;;;
*******************************************************************************************************;;;;;
{orgname};;;;;
{srv_type};;;;;
;;;;;
{id};;;;;
{srv_code};;;;;
;;;;;
ВНИМАНИЕ! Информацию в заголовке листа не модифицировать!;;;;;
*******************************************************************************************************;;;;;
DATA;;;;;
{title_table}{/mask}