{mask:main}
<div class="contest-block-title"><span>Конкурсы</span></div>
{mask:item}				
<div class="contest-block">
	<div class="contest-block-image" style="background-image: url(/images/1/{img})"><a href="{mis:link}{url}{/}{set:link}{link}{/}" {set:link}target="_blank"{/}></a></div>
	<div class="contest-block-link"><a href="{mis:link}{url}{/}{set:link}{link}{/}" {set:link}target="_blank"{/}>{subtitle}</a></div>			
	
   {set:_last}<div class="contest-block-all"><a href="{../alink}">Все конкурсы</a></div>{/}
</div>
{/mask}


{/mask}