{reduce:space}
{mask:main}
<div><img src='http://cms.smhost.ru/img/cms.jpg' width='78' height='105' /></div>
<center>
<table cellpadding='5' cellspacing='0' border='1'>
	<tr>
		<td colspan='2' bgcolor='#CCCCCC'><center><strong>Данные пользователя</strong></center></td>
	</tr>
	<tr>
		<td><center><strong>ФИО:</strong></center></td>
		<td>{name}</td>
	</tr>
	<tr>
		<td><center><strong>email и логин</strong></center></td>
		<td>{email}</td>
	</tr>
	<tr>
		<td><center><strong>Пароль:</strong></center></td>
		<td>{password}</td>
	</tr>
	<tr>
		<td><center><strong>Телефон:</strong></center></td>
		<td>{phone}{mis:phone}-{/mis}</td>
	</tr>
	<tr>
		<td><center><strong>Адрес:</strong></center></td>
		<td>{addres}{mis:addres}-{/mis}</td>
	</tr>
	<tr>
		<td colspan='2' bgcolor='#CCCCCC'></td>
	</tr>
</table>
</center>
{/mask}