{reduce:space}
{mask:main}


	<table class="catalogOne">
		<tr>
			{set:img}<td class="img"><a href="/images/3/{img}" rel="colorbox_editor" title="{title}"><img src="/images/2/{img}" alt="{title}" /></a></td>{/}
			<td class="info">
				<div class="bg">
					<div class="articul">
						{set:article}Артикул <span>{article}</span>{/}
					</div>
					<div class="buttons">
						<a href="{order_url}" class="order">Заказать</a>
						{if: {price} > 0}<div class="price">{price_format} руб.<b></b></div>{/}
					</div>
					{set:description}
					<div class="description">
						<span>{description}</span>
					</div>
					{/}
				</div>
				<span class="bc"></span>
			</td>
		</tr>
	</table>
	
	{html}
	
	
	<div class="backLink"><span>&larr;</span><a href="{backurl}">Вернуться к списку</a></div>


{/mask}